<h1>Lista de mensagens</h1>

<div style="display: flex; flex-direction: column" class="messages-content" id="room-id" data-room-id="<%= @room_id %>">
  <% @messages.each do |message| %>
    <div style="margin: 16px 0">
      <span>-> <%= message.data %></span>
    </div>
  <% end %>
</div>
